#! /bin/bash
[Unit]
Description=sausage-store-backend

[Service]
User=jarservice
StandardOutput=file:/home/jarservice/log/out.log
StandardError=file:/home/jarservice/log/out.log

Environment="REPORT_PATH=/home/www-data/htdocs/reports"
Environment="LOG_PATH=/home/jarservice/log/"
Environment="LOGGING_LEVEL_ROOT=INFO"

ExecStart=java -jar /home/jarservice/sausage-store.jar
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -15 $MAINPID
KillMode=process

#CapabilityBoundingSet=CAP_IPC_LOCK CAP_CHOWN CAP_DAC_READ_SEARCH CAP_KILL CAP_NET_ADMIN CAP_SYS_NICE CAP_FOWNER CAP_SETGID CAP_SETUID CAP_SYS_ADMIN CAP_SYS_RESOURCE CAP_BLOCK_SUSPEND
Type=simple
NotifyAccess=main
#PIDFile=/var/run/sausage-store.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
